<div>
  <hr>
  <h2 class="text-center margin-xl-tb">
    <i class="fa fa-fw fa-map-marker-alt text-primary margin-right"></i>
    <span class="font-danceholics-secundary font-xxl">¿Dónde estamos?</span>
    <i class="fa fa-fw fa-map-marker-alt text-primary margin-left"></i>
  </h2>

  <ng-map center="[10.49606665, -66.88587605]"
          zoom="13">
    <!-- <marker position="[10.5017843, -66.9029108]"></marker> -->
    <custom-marker position="[10.5017843, -66.9029108]">
      <div class="cm">
        <img src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/40252602_287930568466958_8992671218624626688_n.jpg?_nc_cat=104&_nc_ht=scontent-mia3-2.xx&oh=a05d9c2f843d83acf7dbaf3abf6ee9b9&oe=5C41C3FF"
             alt="Dance Holics">
        <p>
          Av. Mexico, Edif. Tequendama, Piso 1, Local 10.
        </p>
      </div>
    </custom-marker>
    <!-- <marker position="[10.490349, -66.8688413]"></marker> -->
    <custom-marker position="[10.490349, -66.8688413]">
      <div class="cm">
        <img src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/40252602_287930568466958_8992671218624626688_n.jpg?_nc_cat=104&_nc_ht=scontent-mia3-2.xx&oh=a05d9c2f843d83acf7dbaf3abf6ee9b9&oe=5C41C3FF"
             alt="Dance Holics">
        <p>
          Centro Comercial Unico, Nivel Chacaito, Local N° B10.
        </p>
      </div>
    </custom-marker>
  </ng-map>
</div>