<div class="home-navbar">
  <div class="container">
    <div class="pull-left">
      <img class="brand pointer"
           src="images/logo-invertido.png"
           alt="Dance Holics">
    </div>

    <div class="pull-right">
      <div class="navbar-links visible-lg visible-md visible-xl">
        <span ng-click="$ctrl.scrollTo('presentation')">Home</span>
        <span ng-click="$ctrl.scrollTo('courses')">Cursos</span>
        <span ng-click="$ctrl.scrollTo('headquarters')">Sedes</span>
        <span ng-click="$ctrl.scrollTo('news')">Noticias</span>
        <span ng-click="$ctrl.scrollTo('contact')">Contacto</span>
        <span ng-click="$ctrl.scrollTo('about')">¿Quiénes somos?</span>
      </div>
    </div>
  </div>
</div>