<div class="row parallax padding-xl-tb"
     style="background-image: url(http://www.hdfondos.eu/pictures/2013/0217/1/so-you-think-you-can-dance-tv-show-bikini-girl-dance-sport-background-227587.jpg); height: auto;">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center font-danceholics-secundary text-primary">
          ¿Necesitas contactarnos? Déjanos tu opinión
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <input type="text"
               placeholder="Nombre">
      </div>

      <div class="col-sm-6">
        <input type="email"
               placeholder="Correo electrónico">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <textarea placeholder="Tu mensaje aquí.."></textarea>
      </div>
    </div>
  </div>
</div>