<div class="row bg-black padding-xxl-tb">
  <div class="container">
    <h1 class="font-danceholics-secundary text-primary text-center margin-lg-bottom">
      Dance Holics
    </h1>

    <div class="row flex justify-content-center margin-lg-top">
      <a href="https://www.facebook.com/danceholicsve/"
         target="_blank">
        <i class="fab fa-facebook-square fa-2x text-white pointer margin-sm-lr"></i>
      </a>

      <a href="https://www.twitter.com/danceholicsve/"
         target="_blank">
        <i class="fab fa-twitter-square fa-2x text-white pointer margin-sm-lr"></i>
      </a>

      <a href="https://www.instagram.com/danceholicsve/"
         target="_blank">
        <i class="fab fa-instagram fa-2x text-white pointer margin-sm-lr"></i>
      </a>
    </div>

    <p class="font-xs text-center text-white margin-sm-top">
      © Todos los derechos reservados
    </p>
  </div>
</div>