<div class="margin-sm-lr margin-sm-bottom"
     cg-busy="$ctrl.isUpdating">
  <div class="margin-sm-top"
       ng-if="$ctrl.showSummary()">
    <div class="summary summary-primary rounded"
         cg-busy="$ctrl.isLoading">
      <div class="row no-gutters"
           style="width:100%">
        <div class="col">
          <div class="summary-body">
            <span>Active Jobs</span>
            <strong class="lg">{{ $ctrl.summary.activeJobs | numberPrettify | available:'0' }}</strong>
            <span>Today</span>
          </div>
        </div>

        <div class="col">
          <div class="summary-body">
            <span>Active Personnel</span>
            <strong class="lg">{{ $ctrl.summary.activePersonnel | numberPrettify | available:'0' }}</strong>
            <span>day</span>
          </div>
        </div>

        <div class="col">
          <div class="summary-body">
            <span>Created Jobs</span>
            <strong class="lg">{{ $ctrl.summary.createdJobs | numberPrettify | available:'0' }}</strong>
            <span>day</span>
          </div>
        </div>

        <div class="col">
          <div class="summary-body">
            <span>Finished Jobs</span>
            <strong class="lg">{{ $ctrl.summary.finishedJobs | numberPrettify | available:'0' }}</strong>
            <span>ll finish today </span>
          </div>
        </div>

        <div class="col">
          <div class="summary-body">
            <span>Monthly Failures</span>
            <strong class="lg">{{ $ctrl.summary.monthlyFailures | numberPrettify | available:'0' }}</strong>
            <span>{{ $ctrl.today | date:'MMMM' }}</span>
          </div>
        </div>

        <div class="col">
          <div class="summary-body">
            <span>Total Revenue</span>
            <strong class="lg">{{ $ctrl.summary.totalRevenue | numberPrettify | available:'0' }}</strong>
            <span>day</span>
          </div>
        </div>

        <div class="col">
          <div class="summary-body">
            <span>Worked Hours</span>
            <strong class="lg">{{ $ctrl.summary.workedHours | numberPrettify | available:'0' }}</strong>
            <span>day</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12"
       ng-if="$ctrl.myDashboard.length">
    <div gridstack
         class="grid-stack grid1"
         options="$ctrl.options"
         on-change="$ctrl.onChange(event,items)"
         on-drag-start="$ctrl.onDragStart(event,ui)"
         on-drag-stop="$ctrl.onDragStop(event,ui)"
         on-resize-start="$ctrl.onResizeStart(event,ui)"
         on-resize-stop="$ctrl.onResizeStop(event,ui)">
      <div gridstack-item
           ng-repeat="report in $ctrl.myDashboard"
           class="grid-stack-item col"
           gs-item-x="report.xAxis"
           gs-item-y="report.yAxis"
           gs-item-width="report.width"
           gs-item-height="report.height"
           gs-item-autopos="1"
           gs-item-min-width="4"
           gs-item-min-height="4"
           ng-if="$ctrl.session.can(report.permission, 'get')">
        <div class="grid-stack-item-content">
          <a href=""
             class="arrow"
             ng-click="$ctrl.actionDasboard(report)">
            <i class="fa fa-expand"
               aria-hidden="true"></i>
          </a>

          <ng-include src="report._templateName"></ng-include>
        </div>
      </div>
    </div>
  </div>

  <div class="no-dashboard"
       ng-if="(!$ctrl.myDashboard.length && !$ctrl.isBusy) && !$ctrl.showSummary()">
    <p>
      You can always edit your widgets by clicking
      <b>Dashboard Settings</b> here
      <i class="fa fa-fw fa-level-up"></i>
    </p>
    <h4>Seems like your dashboard is empty</h4>
    <h5>Add some widgets
      <a href=""
         ng-click="$ctrl.openSettings()">here</a>
    </h5>
  </div>
</div>