<div class="container padding-xl-tb">
  <div class="row">
    <div class="col-sm-6 padding-lr"
         ng-repeat="item in $ctrl.courses">
      <h3 class="text-primary font-danceholics-secundary font-xxl">{{ item }}</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere delectus aliquam
        consequatur ut. Amet iste
        maiores unde totam facere, recusandae officiis voluptatibus expedita accusamus facilis, numquam odit adipisci
        nulla ipsam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, possimus atque. Deserunt
        maiores
        accusamus sapiente. Suscipit officia laborum autem obcaecati culpa quod eum? Aliquid hic repellat, consequatur
        eveniet distinctio similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. A, natus! Obcaecati
        earum
        delectus quia excepturi, quos aspernatur quibusdam consequuntur soluta amet doloribus. Nihil aspernatur optio
        esse ipsum possimus sed porro.</p>
    </div>
  </div>
</div>